body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.logo,
.hero-main,
.signup-button, 
.signup-header {
    color: #f9faf8;
}

.links, 
.hero-secondary,
.signup-content,
.footer {
    color: #e5e7eb;
    font-size: 18px;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
}

.signup-container,
.button-hero,
.button-signup {
    background-color: #3882f6;
}

.button-hero,
.button-signup {
    color: #f9faf8;
    border-radius: 8px;
    font-size: 20px;
}

.button-signup {
    border-color: #f9faf8;
}

.button-hero {
    border: none;
}

.testimonial {
    background-color: #e5e7eb;
}

.quote,
.info-header {
    font-size: 36px;
    color: #1f2937;
}

.info-header,
.hero-main,
.signup-header {
    font-weight: bolder;
}

.quote {
    font-style: italic;
}

.hero, 
.info,
.testimonial,
.signup {
    flex: 1;
}

.logo,
.signup-header {
    font-size: 24px;
}

.hero-main {
    font-size: 48px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1f2937;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px
  }

  .hero {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  